// Fonts
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap'); */

* {
    font-family: "Poppins", sans-serif;
}

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//// HEADER
/* header{
    width: 100%;
    position: sticky;
    z-index: 10000;
    top: 0;
    left: 0;
} */
header {
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
}
.navbar {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.navbar-nav {
    li {
        a {
            text-decoration: none;
            color: $color_grey_sec;
        }
    }
}

.logo_wrapper {
    width: 120px;
    .logo_image {
        width: 100%;
    }
}

.register_button {
    padding: 0.5rem 1.7rem !important;
    color: white !important;
    background-color: $color_logo_primary;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 2px;
}

.login_button {
    padding: 0.5rem 1.7rem !important;
    color: $color_grey_sec !important;
    background-color: none;
    border: 1px solid $color_grey_sec;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 1rem;
}

/* PAGE home.vue */

.sponsored_apartments_container {
    padding: 55px 0;
}

/* HERO SEC*/
/* SEARCH HERO */

.search_sec {
    padding: 4rem 1.5rem;
    padding-bottom: 3rem;
    border-radius: 25px;
    width: 65%;
    margin: 0 auto;

    .search_form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search_input_wrapper {
            display: flex;
            flex-direction: column;

            /* regola per eliminare le freccette nell'imput! */
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            /* /regola per eliminare le freccette nell'imput! */

            label {
                color: $color_grey_sec;
                font-size: 0.8rem;
                margin-bottom: 0.5rem;
                letter-spacing: 1px;
                padding-left: 0.6rem;
                color: white;
            }

            input,
            select {
                padding: 0.4rem 0.5rem;
                border-radius: 50px;
                border: none;
                width: 250px;
                background-color: #fafafa3d;
                color: white;
                font-weight: 600;
                letter-spacing: 1px;

                option {
                    color: $color_grey_sec;
                }

                &:focus-visible {
                    /* outline: 0; */
                    outline: 0;
                    box-shadow: 0px 0px 10px #ffffff3d;
                }
            }
        }

        .submit_search {
            align-self: flex-end;
            width: 50px;
            height: 50px;
            border-radius: 100px;
            background: -webkit-linear-gradient(239deg, #8590ff, #ff385c);
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            margin-top: 0.5rem;
            transform: scale(1);
            transition: all 250ms;

            &:hover {
                transform: scale(1.1);
            }

            i {
                font-size: 1rem;
                color: white;
            }
        }
    }
}

.heroSec {
    width: 100%;
    height: 760px;
    background-blend-mode: multiply;
    background-image: url("../img/landscape_2.jpg");
    background-size: cover;
    background-position: bottom;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome_title {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding-top: 15rem;
    max-width: 700px;
    letter-spacing: 1px;
}

.btn_visit {
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 1.5rem;
    padding: 0.5rem 1.7rem !important;
    background-color: white;
    transform: scale(1) !important;
    transition: transform 500ms !important;
    &:hover {
        transform: scale(1.1) !important;
    }
    .gradient {
        background: -webkit-linear-gradient(239deg, #8590ff, #ff385c);
        //-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.fa-rocket {
    vertical-align: middle;
    font-size: 1.2rem;
    margin-left: 0.3rem;
}

/* SPONSORED APARTMENTS */

.page_title {
    font-size: 3rem;
    letter-spacing: 1.5px;
    text-align: left;
}

/* card */

.sponsored_apartment_card {
    padding-top: 3rem;

    .card {
        border: none;
        border-radius: 20px;
        box-shadow: 0px 0px 10px #9797974d;
        height: 480px;
        .card_body {
            height: 100%;
        }
    }

    .card_img_wrapper {
        height: 50%;
        position: relative;
        cursor: pointer;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            background: linear-gradient(
                180deg,
                rgba(34, 44, 56, 0) 40%,
                rgba(22, 22, 31, 0.452) 90%
            );
            mix-blend-mode: multiply;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            &:hover {
                width: 120%;
                height: 120%;
            }
        }
    }

    .card_bottom {
        padding: 1rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
        height: 50%;
        position: relative;
        background: linear-gradient(
            0deg,
            #ff3895 -30%,
            $color_logo_primary 85%,
            #ff384d 100%
        );
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        color: white;
    }

    .card_info {
        .card_title {
            font-size: 1.3rem;
            font-weight: 700;
            letter-spacing: 1px;
        }

        .info_type_wrapper_address {
            padding-top: 0.2rem;
            font-size: 0.7rem;
        }

        .info_type_wrapper {
            display: flex;
            align-items: baseline;

            .card_text {
                font-size: 0.8rem;
                margin: 0;
            }

            .fa-location-dot {
                font-size: 1.4rem;
                margin-right: 0.5rem;
            }
        }

        .metres_cost {
            padding-top: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        .card_text_cost {
            font-size: 2rem;
            margin: 0;
            font-weight: 700;
            letter-spacing: 2px;
        }

        .dollar {
            font-size: 1.3rem;
            margin-top: 0;
            margin-left: 0.2rem;
        }
    }

    .sponsored {
        color: white;
        height: 50px;
        width: 50px;
        background-color: $color_logo_primary;
        border-radius: 50px;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -230px;
        right: -25px;
        box-shadow: 0px 0px 10px #4949495b;

        .img_wrapper_sponsor {
            width: 22px;
            height: 22px;

            img {
                width: 100%;
                height: 100%;
                vertical-align: initial;
            }
        }
    }
}

/* LOG IN PAGE */

.log_container {
    padding-top: 5rem;

    .card {
        border: none;
        border-radius: 20px;
        box-shadow: 0px 0px 10px #9797974d;
        padding: 2rem;
    }

    .card-header {
        background: none;
        font-size: 2.3rem;
        letter-spacing: 1px;
        color: $color_grey_sec;
    }

    .form-group {
        margin-bottom: 1.5rem;

        label {
            text-align: end;
            color: $color_grey_sec;
            font-weight: 500;
            letter-spacing: 1px;
        }

        input {
            border-radius: 50px;
            background-color: white;
            color: $color_grey_sec_light;
        }

        .form-control:focus {
            border-color: #3d0e16;
            box-shadow: 0 0 0 0.25rem #ff385d11;
        }

        .form-check-input:checked {
            background-color: $color_logo_primary;
            border-color: #3d0e16;
        }

        .form-check-input:focus {
            box-shadow: 0 0 0 0.25rem #ff385d11;
            border-color: #3d0e16;
        }

        .forgot_link {
            color: $color_logo_primary;
            font-size: 0.8rem;
            letter-spacing: 1px;
            text-decoration: none;
        }
    }
}

.padding_top {
    padding: 10rem 0;
}

.button {
    padding: 0.5rem 1.7rem !important;
    color: white !important;
    background-color: $color_logo_primary;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    transform: scale(1);
    transition: all 250ms;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

/* FOOTER */

footer {
    background-color: $color_grey_quar;
    color: $color_grey_sec_light;

    .logo img {
        width: 120px;
        margin: 29.12px 0 20px;
        filter: grayscale(100%);
    }

    address {
        font-style: italic;
    }

    .icons {
        line-height: 35px;

        a {
            width: 30px;
            margin-right: 25px;

            img {
                width: 30px;
                border-radius: 7px;

                &:hover {
                    box-shadow: 0 0 2px $color_logo_primary;
                }
            }
        }
    }

    .about,
    .new_host,
    .suggestions {
        h4 {
            padding: 0 5px;
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                line-height: 1.5rem;

                a {
                    padding: 0 5px;
                    border-radius: 10px;
                    text-decoration: none;
                    color: $color_grey_sec_light;

                    &:hover {
                        text-decoration: underline;
                        color: $color_logo_primary;
                    }

                    /* &:hover{
                        text-decoration: underline;
                        color: whitesmoke;
                        background-image: radial-gradient(closest-corner at 50% 63%, rgba(255, 56, 92, 1) 55%, rgba(255, 56, 92, 0.3));
                    } */
                }
            }
        }
    }

    .soft {
        font-size: 0.7rem;
    }
}

/* APPARTMENTS.VUE */

//form

.search_apartment {
    padding: 4rem 1.5rem;
    padding-bottom: 3rem;
    border-radius: 25px;
    width: 70%;
    margin: 0 auto;

    .search_form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .search_input_wrapper {
            display: flex;
            flex-direction: column;

            /* regola per eliminare le freccette nell'imput! */
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            /* /regola per eliminare le freccette nell'imput! */

            label {
                color: $color_grey_sec;
                font-size: 0.8rem;
                margin-bottom: 0.5rem;
                letter-spacing: 1px;
                padding-left: 0.6rem;
                color: black;
            }

            #beds,
            #rooms,
            #km_radius {
                width: 100px;
            }

            #address {
                width: 350px;
            }

            input,
            select {
                padding: 0.4rem 0.5rem;
                border-radius: 50px;
                border: none;
                background: -webkit-linear-gradient(239deg, #8590ff, #ff385c);
                color: white;
                font-weight: 600;
                letter-spacing: 1px;

                /*  &:-internal-autofill-selected{
                    background-color: red;
                } */

                option {
                    color: $color_grey_sec;
                }

                &:focus-visible {
                    /* outline: 0; */
                    outline: 0;
                    box-shadow: 0px 0px 10px #ffffff3d;
                }
            }
        }

        .submit_search {
            align-self: flex-end;
            width: 50px;
            height: 50px;
            border-radius: 100px;
            background: -webkit-linear-gradient(239deg, #8590ff, #ff385c);
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            margin-top: 0.5rem;
            transform: scale(1);
            transition: all 250ms;

            &:hover {
                transform: scale(1.1);
            }

            i {
                font-size: 1rem;
                color: white;
            }
        }
    }
}

.button_wrapper {
    margin-top: 1rem;
}

.button_view {
    padding: 0.5rem 1.7rem !important;
    color: $color_logo_primary;
    background-color: white !important;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    transform: scale(1);
    transition: all 250ms;
    margin-top: 1rem;
    text-decoration: none;
    &:hover {
        color: #8590ff;
    }
}

/* appartment show */

.sponsored_apartments_container {
    padding-top: 5rem;
    .card {
        border: none;
        border-radius: 20px;
        box-shadow: 0px 0px 10px #9797974d;
        height: 480px;
        .card_body {
            height: 100%;
        }
    }

    .card_img_wrapper {
        height: 50%;
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            background: linear-gradient(
                180deg,
                rgba(34, 44, 56, 0) 40%,
                rgba(22, 22, 31, 0.452) 90%
            );
            mix-blend-mode: multiply;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            &:hover {
                width: 120%;
                height: 120%;
            }
        }
    }

    .card_bottom {
        padding: 1rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
        height: 50%;
        position: relative;
        background: linear-gradient(
            0deg,
            #ff3895 -30%,
            $color_logo_primary 85%,
            #ff384d 100%
        );
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        color: white;
    }

    .card_info {
        .card_title {
            font-size: 1.3rem;
            font-weight: 700;
            letter-spacing: 1px;
        }
        .info_type_wrapper_address {
            padding-top: 0.2rem;
            font-size: 0.7rem;
        }
        .info_type_wrapper {
            display: flex;
            align-items: baseline;
            .card_text {
                font-size: 0.8rem;
                margin: 0;
            }
            .fa-location-dot {
                font-size: 1.4rem;
                margin-right: 0.5rem;
            }
        }

        .metres_cost {
            padding-top: 1rem;
            display: flex;
            justify-content: space-between;
        }
        .card_text_cost {
            font-size: 2rem;
            margin: 0;
            font-weight: 700;
            letter-spacing: 2px;
        }
        .dollar {
            font-size: 1.3rem;
            margin-top: 0;
            margin-left: 0.2rem;
        }
    }
}

/* APARTMENTS_page */

.apartments_page {
    padding-top: 8rem;
    .search_form {
        display: flex;
        flex-direction: column;

        .form_search_top,
        .form_search_bottom {
            display: flex;
            justify-content: space-between;
            width: 80%;

            .align_start {
                align-self: flex-start;
            }

            #beds,
            #rooms,
            #km_radius {
                width: 264px;
            }

            #address {
                width: 530px;
            }

            .search_input_wrapper {
                label {
                    font-size: 0.7rem;
                    margin-bottom: 0.2rem;
                }

                input,
                select {
                    color: $color_grey_sec;
                    background: white;
                    box-shadow: 0px 0px 10px rgba(141, 140, 140, 0.322);
                }

                .select_services {
                    border-radius: 10px;

                    &::-webkit-scrollbar {
                        width: 8px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: rgba(128, 128, 128, 0.123);
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background-color: #2c2c2c1e;
                        height: 10px;
                    }
                }
            }
        }

        .form_search_top {
            padding-bottom: 2rem;
        }
    }
}

/* apartment.vue page */

.show_sec_apartment {
    padding-top: 10rem;
    padding-bottom: 5rem;
    width: 70%;
    margin: 0 auto;
    .card {
        width: 100%;
        border-radius: 2rem;
        color: $color_grey_sec;
        box-shadow: 0px 0px 10px rgba(109, 109, 109, 0.158);
        .textarea {
            border-radius: 10px;
        }

        h2 {
            letter-spacing: 2px;
        }
        h3 {
            letter-spacing: 1.5px;
            font-size: 0.9rem;
            font-weight: 300;
            padding-left: 0;
        }

        // top
        .top {
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            height: 300px;

            .image {
                padding: 0;
                height: 100%;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 2rem;
                    object-position: top;
                    border-top-right-radius: 2rem;
                }
            }
        }
        // middle
        .mid {
            .map_square {
                max-width: 100%;
                height: 300px;
                background-color: $color_grey_ter;
                border-radius: 2rem;
            }
        }
        .infos {
            .info_address {
                font-size: 1.1rem;
                font-weight: 500;
            }
        }
        .details {
            padding-left: 0;
            .col {
                .item_price {
                    .value {
                        color: $color_logo_primary;
                    }
                }
                .item {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    .value {
                        font-size: 1.2rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    // bottom
    .bottom {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        h2 {
            margin-bottom: 0.5rem;
        }
        .services {
            .row {
                padding: 0;
            }
            ul {
                list-style: none;
                li {
                    margin: 0;
                    i {
                        color: $color_grey_quar;
                        margin-right: 0.4rem;
                    }
                }
            }
        }
    }
}
